* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroud-color: rgb(11, 36, 71);
  --background-color-box: rgb(25, 55, 109);
  --color-text: rgb(202, 216, 222);
}

body {
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(to bottom, #0b132b, #3a506b);
}

/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(./assets/image/artur-shamsutdinov-GmTxsWc0U18-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar img {
  width: 100px;
  height: 100px;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: var(--color-text);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 20px;
}

/* hero styles */

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  height: 600px;
  margin: 20px;
  border-radius: 4px;
  gap: 30px;
  margin: 20px auto;
}

.title {
  color: var(--color-text);
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descrip {
  color: var(--color-text);
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 20px;
}

.hero img {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}

/* seccion about */

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: var(--background-color-box);
  color: var(--color-text);
  width: 90%;
  height: 400px;
  margin: 20px auto;
  background-image: url(./assets/image/sala-pcs.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.about h2 {
  margin: 20px auto;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  font-weight: 800;
  font-size: 30px;
}

.about p {
  width: 80%;
  font-weight: 600;
  font-size: 20px;
  margin: 0 auto;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}

/* seccion cards */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  gap: 20px;
  width: 90%;
  margin: 20px auto;
}

.cards_title {
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.card {
  display: flex;
  background-image: url(./assets/image-cards/starfield.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  gap: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(10, 10, 74, 0.796);
  border-width: 5px;
  height: 400px;
}

.title_card {
  font-size: 24px;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  padding: 15px;
}

.descrip_card {
  position: fixed;
  text-align: center;
  font-family: "Crimson Pro", serif;
}

.img_card {
  width: 80%;
  height: 200px;
  margin: 5px;
  border-radius: 10px;
}

.card-2 {
  background-image: url(./assets/image-cards/warzone.jpg);
}

.card-3 {
  background-image: url(./assets/image-cards/Counter-Strike-2.jpg);
}

/* seccion de contacto */

.linea-fachera {
  height: 4px;
  width: 95%;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 74, 0.796),
    #ffcc00,
    rgba(10, 10, 74, 0.796)
  );
  border: none;
  margin: 0 auto;
}

.contact {
  color: var(--color-text);
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_ubi {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact_ubi iframe {
  border-radius: 10px;
}

.ubi_info {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 1fr;
  align-items: center;
  gap: 2px;
}

.ubi_info img {
  width: 60px;
  height: 60px;
}

/* /////////////////////////////////////////////////// */
.contact_formm {
  display: flex;
  align-items: center;
}

.contact_form {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  text-align: end;
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%; /* Para asegurar que los elementos ocupen todo el ancho disponible */
}

.form label {
  flex: 1;
  text-align: end; /* Texto del label a la derecha */
}

.form input,
.form textarea {
  flex: 2;
  width: 100%; /* Para que los inputs ocupen el espacio restante */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #007acc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}
